@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .text-balance {
    text-wrap: balance;
  }

  main {
    @apply overflow-y-auto no-scrollbar h-full bg-gradient-to-b from-white/10 via-white/20 to-spray-900/50 text-white
  }

  input {
    @apply font-medium
  }
}

@layer components {
  .text-box {
    @apply w-full py-3 px-2 border rounded focus:outline-none border-zinc-400 focus:border-zinc-900 bg-white appearance-none disabled:bg-zinc-200 disabled:opacity-50 disabled:cursor-not-allowed text-black
  }

  .container {
    @apply w-full max-w-[90%] mx-auto sm:px-4
  }

  .btn {
    @apply outline-none shadow-md transition-all duration-500 rounded-lg bg-white text-black text-base hover:shadow-lg font-medium py-3.5
  }

  .spray {
    @apply hover:bg-spray-600 bg-spray-500 text-white
  }

  .spray-dark {
    @apply hover:bg-spray-700 bg-spray-900 text-white
  }

  .chestnut {
    @apply hover:bg-chestnut-700 bg-chestnut-600 text-white
  }
}
